<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schedulesmadeeasy.groupsxyz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_vectorlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".MySettingsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SetUpActivity" />
        <activity android:name=".AddGroupActivity" />
        <activity android:name=".myAvailability" />
        <activity
            android:name=".ManagerScheduleActivity"
            android:label="@string/title_activity_manager_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberScheduleActivity"
            android:label="@string/title_activity_member_schedules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyShifts"></activity>
    </application>

</manifest>